/* Все элементы на странице  будут стараться  принимать именно те размеры, которые мы им здесь зададим , учитывая border и padding  */
* {
  box-sizing: border-box;
}

/* Обнуляю стили, которые  браузер задаёт  по умолчанию*/
html,
body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

/* -------------------------------------- Шрифты , которые используются на нашем сайте :    ------------------------------ */

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */

/* Основным, наиболее часто использующимся шрифтом на сайте  является  Roboto, поэтому я всему body прописываю шрифт  Roboto  */
body {
  font-family: "Roboto", sans-serif;
}

/* Roboto Slab же    мы будем ОТДЕЛЬНО   прописывать конкретно  для тех элементов , колторые его используют  */

/* -------------------------------------- // Шрифты , которые используются на нашем сайте :    ------------------------------ */

/* Контейнер шириной 1440px, который центрирует страницу посередине  */
.parent-wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  /* background-color: brown; */
}

/* ШАПКА */
.header {
  padding-top: 20px;

  padding-left: 120px;
}
/* ----------------------------------------Секция "Как смотреть кино" ----------------------------------------*/
.how-to-watch-movie {
  width: 1112px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 91px;
}
.top {
  display: flex;
}
.info {
  display: flex;
  height: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  justify-content: end;
}
.info p {
  margin-top: 4px;
}
.globe {
  width: 22px;
  height: 25px;
  margin-right: 9px;
}
.clock {
  width: 22px;
  height: 22px;
  margin-left: 39px;
  margin-right: 10px;
}
.calendar {
  width: 20px;
  height: 22px;
  margin-left: 46px;
  margin-right: 13px;
}

.center {
  display: flex;
  justify-content: space-between;
}
.first-part {
  height: 257px;
}
.how {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 101.38%;
  color: #000000;
  margin-top: 18px;
  margin-left: 2px;
  height: 190px;

}
.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  margin-top: 5px;
  margin-left: 2px;
}
.second-part {
  margin-right: 39px;
  margin-top: 8px;
}
.third-part {
  width: 483.63px;
  height: 200px;
  background-color: #1E4681;
  border-radius: 5px;
  transform: rotate(-4deg);
  margin-left: 289px;
  margin-top: 86px;
  padding-top: 20px;
  padding-left: 29px;
  padding-right: 29px;
}
.block {
  width: 434px;
  height: 125px;
  left: 432px;
  top: 702px;
  font-family: Roboto Slab;
  font-size: 25px;
  line-height: 130%;
  color: white;
  margin: auto;
  margin-bottom: 6px;

}
.block-two {
  width: 435px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  text-align: right;
  color: #FFFFFF;
}
