/* Все элементы на странице  будут стараться  принимать именно те размеры, которые мы им здесь зададим , учитывая border и padding  */
* {
  box-sizing: border-box;
}

/* Обнуляю стили, которые  браузер задаёт  по умолчанию*/
html,
body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

/* -------------------------------------- Шрифты , которые используются на нашем сайте :    ------------------------------ */

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */

/* Основным, наиболее часто использующимся шрифтом на сайте  является  Roboto, поэтому я всему body прописываю шрифт  Roboto  */
body {
  font-family: "Roboto", sans-serif;
}

/* Roboto Slab же    мы будем ОТДЕЛЬНО   прописывать конкретно  для тех элементов , колторые его используют  */

/* -------------------------------------- // Шрифты , которые используются на нашем сайте :    ------------------------------ */

/* Контейнер шириной 1440px, который центрирует страницу посередине  */
.parent-wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* ШАПКА */
.header {
  padding-top: 20px;

  padding-left: 120px;
}

/* ----------------------------------------------------------------- Секция "ФОРМАТ ЗАНЯТИЙ */
.class-format {
  margin-bottom: 2130px;
}

/* Заголовок секции -  "Формат занятий */
.class-format__heading {
  font-family: "Roboto Slab", serif;
  font-size: 55px;
  line-height: 55.76px;

  padding-left: 35px;

  margin-bottom: 128px;
}

/* Обёртка для трёх карточек */
.class-format__wrapper-for-cards {
  display: flex;

  padding-left: 40px;
}

/* Стили для всех карточек */
.class-format__card {
}

/* Стили для карточки 1 */
.class-format__card:nth-child(1) {
  width: 223px;

  margin-right: 120px;
}

/* Стили для карточки 2 */
.class-format__card:nth-child(2) {
  width: 270px;
  margin-right: 116px;
}

/* Стили для карточки 3 */
.class-format__card:nth-child(3) {
  width: 245px;
}

/* ЗАГОЛОВОК     в каждой карточке */
.class-format__card-heading {
  font-weight: 700;

  font-size: 25px;
  line-height: 32.5px;

  color: #1e4681;

  margin-bottom: 8px;
}

/* Параграф - описание внутри карточки */
.class-format__card-description {
  font-size: 18px;
  line-height: 23.4px;
}

/* Вспомогательный онтейнер шириной 1272 пикселя */
.container1272px {
  width: 1272px;
  margin-left: auto;
  margin-right: auto;
}
/* --------------------------------------------------------------- // Секция "ФОРМАТ ЗАНЯТИЙ */

/* ---------------------------------- СЕКЦИЯ "О КУРСЕ" */
.about {
  margin-left: 121px;
  margin-bottom: 100px;
}
.about-h2 {
  font-family: "Roboto Slab", serif;
  font-size: 55px;
  line-height: 55.76px;
  font-weight: 700;
  margin-bottom: 55px;
}
.about-lead {
  display: flex;
}
.about-description {
  font-size: 24px;
  line-height: 150%;
  width: 662px;
  height: 374px;
  margin-right: 190px;
}
.about-lead-img {
  width: 314px;
  height: 315px;
  margin-top: 24px;
}
.about-info {
  display: flex;
  margin-top: 95px;
}
.about-info-img {
  width: 232px;
  height: 203px;
  margin-right: 131px;
}
.about-info-table {
  margin-top: 65px;
  border-collapse: collapse;
}
.about-info-table th {
  font-size: 25px;
  font-weight: 700;
  width: 245px;
  height: 40px;
  line-height: 32.5px;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
}

.about-info-table td {
  font-size: 18px;
  font-weight: 400;
  width: 245px;
  height: 39px;
  line-height: 23.4px;
  padding-left: 0;
  padding-right: 95px;
  padding-top: 5px;
}

/* ---------------------------------------------------------- // Секция "О КУРСЕ */

/* --------------------------------------------------------  Секция "ЧТО УЗНАЕМ */

/* Родительская обёртка   для картинки с самураями,  текстового блока и картинки с Годзиллой */
.what-we-learn__wrapper {
  position: relative;
}

/* Картинка с двумя самураями */
.what-we-learn__samurai {
  display: block;
  height: auto;
  max-width: 284px;
  margin-left: auto;

  position: absolute;
  right: 210px;
  bottom: 403px;
}

/* ----------- Текстовый блок */

/* Обёртка над заголовком и списком */
.what-we-learn__description {
  padding-left: 36px;
}

/* Заголовок     "Что узнаем"   */
.what-we-learn__heading {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 55.76px;

  margin-bottom: 58px;
}

/* Список */
.what-we-learn__list {
  font-size: 24px;
  line-height: 36px;

  padding-left: 20px;

  /* width: 662px; */
  width: 665px;
}

/* Элементы списка */
.what-we-learn__list-item {
}
/* --------- // Текстовый блок */

/* Картинка с Годзиллой */
.what-we-learn__godzilla {
  display: block;
  height: auto;
  max-width: 386px;
  margin-left: auto;

  position: absolute;
  right: 120px;
  bottom: 46px;
}

/* // ----------- ------------------------------------------// Секция "ЧТО УЗНАЕМ */

/* --------------------------------Секция "ПРОГРАММА КУРСА" */
.program-h2-wrapper {
  margin-left: 121px;
  display: flex;
  position: relative;
}

.program-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 84px;
}

.program-card {
  width: 399px;
  height: 328px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  margin-right: 37px;
  margin-bottom: 36px;
  margin-top: 6px;
  position: relative;
}
.program-h2 {
  font-family: "Roboto Slab", serif;
  font-size: 55px;
  line-height: 55.76px;
  font-weight: 700;
  margin-bottom: 126px;
}

.black-rectangle {
  background-color: black;
  width: 630px;
  height: 14px;
  position: absolute;
  top: 23px;
  right: 0;
}

.program-card-img {
  width: 100%;
  display: inline-block;
}
.program-card-heading {
  font-size: 30px;
  font-weight: 700;
  padding-left: 20px;
  margin-top: 7px;
  
}
.program-card-date {
  font-size: 25px;
  font-weight: 400;
  padding-left: 19px;
  position: absolute;
  bottom: 55px;
}
.program-card-name {
  font-size: 25px;
  font-weight: 400;
  padding-left: 19px;
  position: absolute;
  bottom: 23px;
}
